<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SHASTA</title>
    <link href="home.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Droid+Serif+Domine+Lustria" rel="stylesheet">

</head>

<body>

<div1>
    <div class="firstSecHeader">
        <h1 class="margin_zero_mobile"><hd class="style_header_mobile">
            SHASTA
            <hpl>
                <a1 href="." class="hidden_mobile_view">
                    PROJECTS
                </a1>
                <a2 href="" class="hidden_mobile_view">
                    ABOUT US
                </a2>
                <a3 href="" class="hidden_mobile_view">
                    STORIES
                </a3>
                <a4 href="" class="hidden_mobile_view">
                    CONTACT
                </a4>
                <i class="hidden_mobile_view">
                    <i1 class="fa fa-users"></i1>
                    <i2 class="fa fa-cloud"></i2>
                    <i3 class="fa fa-camera"></i3>
                </i>
            </hpl>
            <div class="hidden_desktop">
            <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </hd>
        </h1>
    </div>
    <div class="firstSecBody">
        <br/>
        <br/>
        <table class="firstSec">
            <tbody>
            <tr>
                <td>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                  <%= image_tag 'icon.png' %>
               
                </td>
            </tr>
            <tr>
                <td class="firstcol">
                    Your Headline Here
                </td>
            </tr>
            <tr>
                <td class="secCol">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div1>

<div2>
    <div class="secTwoHead">
        This is the Section Headline, Continues to Two Lines
    </div>
    <div class="secTwoHead2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
    </div>

    <div class="secTwoTable">
        <table class="hidden_mobile_view">
            <tbody>
            <tr>
                <td class="secTwoTableCol1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.
                </td>
                <td class="secTwoTableCol2">
                    Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
            </tr>
            </tbody>
        </table>
        <div class="padding hidden_desktop">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.
        </div>
        <div class="padding hidden_desktop">
            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="readBtn">

        <input type="submit" id="readmore" value="READ MORE" />

    </div>
</div2>
<div3 class="secThree">
<div class="header2">
    <h1> Big Community of <br/> People Like You </h1>
</div>

<div class="subheader">
    <h3> We're proud of our products,and we're <br/> really excited when we get feedback from <br/> our users. </h3>
</div>

<div class="row1">
    <div class="column side1"><i class="fa fa-angle-left centered" aria-hidden="true"></i></div>
    <div class="column middle1">
        <div class="hoverdiv" id="hoveractiondiv">
            <div class="modify_mobile">
                <div class="fullcircle"></div>
                <h5>Lorem ipsum dolor sit amet,<br/> consectetur adipiscing elit, sed do <br/> eiusmod tempor incididunt ut<br/> labore et dolore</h5>
                <div class="Nameheader">
                    <h5>MARY SMITH<br/>Lead Designer <br/>at Company Name</h5>
                </div>
            </div>
            <div class="hidden_mobile_view">
                <div class="fullcircle"></div>
                <h5>Ut enim ad minima veniam quis<br/> nostrum exercitationem ullam <br/>corporis suscipit laboriosam nisi ut</h5>
                <div class="Nameheader">
                    <h5>JOHN SMYTH<br/>Creative Director in <br/>Company Name</h5>
                </div>
            </div>
            <div class="hidden_mobile_view">
                <div class="fullcircle"></div>
                <h5>aliquip ex ea commodo consequat.<br/> Duis aute irure dolor in reprehenderit<br/> in voluptate velit esse cillum dolore eu
                    <br/> fugiat nulla pariatur.</h5>
                <div class="Nameheader">
                    <h5>MARYANNE SMYTH<br/>Buyer at <br/>Company Name</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="column side1"><i class="fa fa-angle-right centered" aria-hidden="true"></i></div>
</div>
</div3>
<div4 class="secFour">
<div class="header">
    <h4> WHAT PEOPLE SAY</h4>
</div>

<div class="row">
    <div class="column side"><i class="fa fa-angle-left centered" aria-hidden="true"></i></div>
    <div class="column middle">

        <table class="table-width">
            <tr>
                <td>
                    <h2>

                        Excepteur sint occaecat <br/> cupidatat non proident,sunt in <br/> culpa qui officia deserunt mollit<br/> anim id est laborum.
                    </h2>
                </td>
                <td rowspan="2">
                    <h2>
                        Sed ut perspiciatis unde<br> omnis iste natus error sit<br> voluptatem accusantium <br>doloremque laudantium,<br> totam rem aperiam.
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <hr class="hrl">
                </td>
            </tr>
            <tr>
                <td class="name">
                    JOHNATHAN SMITH
                </td>
                <td>
                    <hr class="hrl">
                </td>
            </tr>
            <tr>
                <td class="post">
                    Vice President Information Technology, Company Name
                </td>
                <td class="name">
                    MARY SMYTH
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
                <td class="post">
                    Creative Director and Co-Founder, Company Name
                </td>
            </tr>
        </table>
        <div class="hidden_desktop">
            <h2>
            Excepteur sint occaecat <br/> cupidatat non proident,sunt in <br/> culpa qui officia deserunt mollit<br/> anim id est laborum.
            </h2>
        </div>
        <div class="name hidden_desktop">
            JOHNATHAN SMITH
            <hr class="hrl">
        </div>
        <div class="post hidden_desktop">
            Creative Director and Co-Founder, Company Name
        </div>
    </div>
    <div class="column side"><i class="fa fa-angle-right centered" aria-hidden="true"></i></div>
</div>
</div4>
</body>

</html>

<%= link_to 'About', about_path%>